---
layout: page
---
{% include lang.html %}

{% assign HEAD_PREFIX = 's_' %}
{% assign LIST_PREFIX = 'ls_' %}
{% assign group_index = 0 %}

{% assign all_series = site.posts | map: 'series' | uniq | compact | sort_natural %}

{% for series_name in all_series %}
  {% assign series_posts = site.posts | where: 'series', series_name | sort: 'date' %}
  {% assign posts_size = series_posts | size %}

  {% if posts_size > 0 %}
    <div class="card categories">
      <!-- series header -->
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span class="ms-2">
          <i class="far fa-folder-open fa-fw"></i>
          <span class="mx-2">{{ series_name }}</span>

          <span class="text-muted small font-weight-light">
            {{ posts_size }}
            {% if posts_size > 1 %}
              {{ site.data.locales[lang].categories.post_measure.plural | default: 'posts' }}
            {% else %}
              {{ site.data.locales[lang].categories.post_measure.singular | default: 'post' }}
            {% endif %}
          </span>
        </span>

        <!-- collapse toggle -->
        <a
          href="#{{ LIST_PREFIX }}{{ group_index }}"
          data-bs-toggle="collapse"
          aria-expanded="true"
          aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
          class="category-trigger hide-border-bottom"
        >
          <i class="fas fa-fw fa-angle-down"></i>
        </a>
      </div>

      <!-- posts in series -->
      <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
        <ul class="list-group">
          {% for post in series_posts %}
            <li class="list-group-item">
              <i class="far fa-file-alt fa-fw"></i>
              <a href="{{ post.url | relative_url }}" class="mx-2">{{ post.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    {% assign group_index = group_index | plus: 1 %}
  {% endif %}
{% endfor %}
